In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
the_file = pd.read_csv("/content/sample_data/california_housing_test.csv")
the_file

In [ ]:
the_frame = pd.DataFrame(the_file)
the_frame

In [ ]:
print(the_frame["total_rooms"].head()) #Вывод первых 5 записей из указанного Series 
print(the_frame.head()) #Вывод первых 5 записей во всем фрейме  
print(the_frame["total_rooms"].tail()) #Вывод последних 5 записей из указанного Series
print(the_frame[["total_rooms", "total_bedrooms"]].head())

In [ ]:
print(the_frame.loc[2525]) #Вывести строку с индексом 2525
print(the_frame.loc[[2997, 2999]]) #вывод строк с указанными индексами (2997, 2999). ДВОЙНЫЕ КВАДРАТНЫЕ СКОБКИ

print(the_frame.iloc[1]) #Вывести строку по принудительному цифровому индексу
#loc -- по индексу, даже есои буквенный или строковый 
#iloc -- принудительно нумеруеот (от 0), выводит по номеру строки

In [ ]:
print(the_frame.at[4, "latitude"]) #Вывод содержимого ячейки на координатах a, b: a - номер строки, b - название серии
print(the_frame.iat[4, 1]) #Принудительная нумерация строк и серий, вывод содержимого скалярной ячейки

In [ ]:
print(the_frame.total_rooms>2000) #Проверка содержимого ячеек серии total_rooms на > 2000
print(the_frame[the_frame.total_rooms > 15000])#Вывод строк, где total_rooms > 15000