In [4]:
import pandas as pd#подключение библиотеки pandas
import datetime #для работы с датами и временем

In [ ]:
the_series = pd.Series([1,2,3,4,5])
print(the_series)

In [ ]:
#Вывод отдельных элементов
print(the_series[1]) # >>> 2, т.к. нумерация начинается с нуля
print(the_series[1], the_series[4])
the_series[[1, 4]]#возвращае SERIES с элементами 1, 4

In [ ]:
# Создаем Series, задавая индекс в явном виде
the_second_series = pd.Series(["One", "Two", "Three", "Four", "Five"], 
                              index=["I", "II", "III", "IV", "V"])
print(the_second_series)

In [ ]:
#Штуки всякие
slova = "QWERTY"
the_third_series = pd.Series([i for i in range(2, 13, 2)], 
                             index = [i for i in slova])
print(the_third_series)
print(the_third_series.index)

In [33]:
import datetime as dt
the_dates = pd.date_range("2005-10-17", "2022-09-26")#пипец я старый:(
print(the_dates)

DatetimeIndex(['2005-10-17', '2005-10-18', '2005-10-19', '2005-10-20',
               '2005-10-21', '2005-10-22', '2005-10-23', '2005-10-24',
               '2005-10-25', '2005-10-26',
               ...
               '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24',
               '2022-09-25', '2022-09-26'],
              dtype='datetime64[ns]', length=6189, freq='D')